<%- include("partials/header")%>
<div class="list-of-lists">
  <ul>
    <%listOfLists.forEach((element)=>{%>
      <li>
        <h1><a href="/list/<%=element.name%>"><%=element.name%></a></h1>
      </li>
    <%});%>
  </ul>
</div>
<div class="list-of-items">
  <div class="box" id="heading">
    <h1><%=listTitle%></h1>
  </div>

  <div class="box">
    <form class="" action="/delete" method="post">
      <%newListItems.forEach((element)=>{%>
      <div class="item">
          <input onChange="this.form.submit()" type="checkbox" name = "deleteItem" value = "<%=element._id%>" >
        <p><%= element.name %></p>
      </div>
      <%});%>
      <input type="hidden" name="listName" value=<%=listTitle %>>
    </form>

    <form class="item" action="/list/<%=listTitle %>" method="post">
      <input type="text" name="newItem" placeholder="New item" autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle %>>+</button>
    </form>
  </div>
</div>

  <%- include("partials/footer")%>
